.env 
node_modules 
dist

// If you get an unspecified error while trying to convert js project to ts, It's  prolly a route issue
// Isolate the routes in app/server/index then work your way to fixing it
// Please make sure imports end with .js
// fix up imported functions as well to make sure they're type annotated and shi

// If bot is enabled immediately after being disabled, there is still a 15min cooldown lapse for a user that queried the bot while diabled