<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/home.css">
  <title>Admin Home</title>
</head>

<body>
  <a href="/logout" class="logout">
    <i class="fa-solid fa-right-from-bracket"></i>
    <p>Log Out</p>
  </a>
  <div class="menu-container">
    <h1>Hi, Micheal</h1>
    <a href="/otps" class="menu-item">
      <i class="fa-solid fa-key"></i>
      <p>View OTPs</p>
    </a>
    <a href="/users" class="menu-item">
      <i class="fas fa-user"></i>
      <p>View Employees</p>
    </a>
    <a href="/adminops" class="menu-item">
      <i class="fas fa-user-shield"></i>
      <p>Admin Operations</p>
    </a>
  </div>
</body>
</html>
